<div id="canvas-wrap">
	<canvas> </canvas>
	<h1> Monkey Trouble</h1>
	<div class="timer"> Hello </div>
	<div class="ammo"> Bananas: 0 </div>
	<div class="kills"> Zoo Keeper's Bananafied: 0 </div>
</div>

<script>
    var canvas = document.getElementsByTagName("canvas")[0];
		canvas.height = window.innerHeight - 10;
		canvas.width = window.innerWidth - 10;
    var ctx = canvas.getContext("2d");
    new Asteroids.Game(ctx).start();
</script>